node_modules
.next/cache
.next/build-manifest.json
.next/prerender-manifest.json
.next/trace
.next/static
.env
.env.*
dist
coverage
.git
.gitignore
npm-debug.log
yarn-error.log
logs
/*.lognode_modules
.next
dev-server.log
npm-debug.log
.env.local
.env.local.bak
.vscode/
dist
coverage
logs
.DS_Store
*.tgz
**/__tests__
